
body {
  margin: 0px;
}

ul {
  list-style: none; 
  overflow: hidden;
}
li {
  float: left;
  padding: 5px;
}
a {
  padding: 10px; 
  display: block;
  text-align: center;
  text-decoration: none;
}
