html {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  background-color:#639dd1;
}
.navba {
  border: none;
  border-radius:0px;
  background-color: #041a2f;
}
ul {
  list-style: none; 
  overflow: hidden;
  margin: 0px;
}
li {
  float: left;
}
 ul li a {
   
   color: white;
   font-weight: strong;
   padding: 15px;
   display: inline-block;
   text-align: center;
   text-decoration: none;
}
ul li a:hover:not(.active) {
  color: white;
  text-decoration: none;
  background-color: #003a67;
}
ul li a:active {
  text-decoration: none;
  color: none;
}
ul li a:visited {
  text-decoration: none;
  color: white;
}
section {
  height: 800px;
  background: url("My-website/images/parallax.jpeg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 0px -50px;
}
.active {
  background-color: #0ea1d6;
}
.center {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
h1 {
  text-decoration: underline;
}
p {
  font-size: 20px;
}
#attention {
  color: red;
}
footer {
  background-color: #041a2f;
  color: white;
}
