html {
  margin: 0px;
}
body {
  margin: 0px;
  background: yellow;
}
.navbar {
  background-color: blue;
}
ul {
  list-style: none; 
  overflow: hidden;
}
li {
  float: left;
}
a {
  padding: 20px; 
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
